snippet :start: "start" A
* started \``!v strftime("%F %T%z")`\`
endsnippet

snippet :stop: "stop" A
* stopped \``!v strftime("%F %T%z")`\`
endsnippet

snippet :complete: "completed" A
* completed \``!v strftime("%F %T%z")`\`
endsnippet
