[core]
    editor = vim
[credential]
    helper = osxkeychain
[alias]
    delete-branch = branch -d
    switch = checkout
    new-branch = checkout -b
    prune-all = "!git remote prune origin; git branch --merged | egrep -v '^\\s*master$|^\\s*\\*.*' | xargs -L1 git branch -d"
    branches = branch -a
    tags = tag
    stashes = stash list
    uncommit = reset --mixed HEAD~
    unstage = reset HEAD --
    discard-changes = checkout --
    name = rev-parse --abbrev-ref HEAD
    nuke = "!get reset --hard origin/$(git name) && git clean -xdff"
    graph = log --graph --branches --remotes --tags --date-order --oneline --decorate
    backup = "!git push --set-upstream origin $(git name)"
[push]
    default = simple
[commit]
    template = ~/.settings/git-commit-template.txt
[help]
    autocorrect = 50
[pull]
    ff = only
    rebase = preserve
[rebase]
    autosquash = true
[fetch]
    prune = true
